<% layout("/layout/boilerplate.ejs") %>

<main>
    <article>

        <!-- 
        - #HERO
      -->

        <section class="section hero has-before has-bg-image" id="home"
            aria-label="home"
            style="background-image: url('https://res.cloudinary.com/dymfsdc1w/image/upload/v1711865480/hospital/ashkan-forouzani-DPEPYPBZpB8-unsplash_oeyjhg.jpg');">
            <div class="container">

                <h1 class="h1 hero-title">Hospitals are about healing</h1>

                <a href="#" class="btn has-before" style="margin-top: 20px;">
                    <span class="span">Explore Our Services</span>

                    <ion-icon name="arrow-forward"
                        aria-hidden="true"></ion-icon>
                </a>

            </div>
        </section>

        <!-- 
        - #SERVICE
      -->

        <section class="section service" id="services" aria-label="services">
            <div class="container">

                <h2 class="h2 section-title text-center">Services We Provide
                    <br><br><br> </h2>

                <!-- <p class="section-text text-center">
            Sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore dolore magna aliqua suspendisse
          </p> -->

                <ul class="grid-list">

                    <li>
                        <div class="service-card">

                            <div class="card-icon"
                                style="display: flex; justify-content: center; align-items: center; height: 90px;">
                                <img
                                    src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1711867282/hospital/medical_cxiwby.png"
                                    style="width: 100px ; height: 100px ; ">
                            </div>

                            <h3 class="h3">
                                <a href="/appointment"
                                    class="card-title">Appoinment Booking</a>
                            </h3>

                            <p class="card-text">
                                Streamline your schedule effortlessly with our
                                intuitive appointment booking service <br><br>
                            </p>

                            <a href="/appointment" class="card-btn"
                                aria-label="more">
                                <ion-icon name="arrow-forward"
                                    aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="service-card">

                            <div class="card-icon"
                                style="display: flex; justify-content: center; align-items: center; height: 90px; ">
                                <img
                                    src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1711867267/hospital/ambulane_tobkrg.png"
                                    style="width: 100px ; height: 100px ; ">
                            </div>

                            <h3 class="h3">
                                <a href="/ambulance"
                                    class="card-title">Ambulance Tracking</a>
                            </h3>

                            <p class="card-text">
                                Stay connected and informed with real-time
                                ambulance tracking for prompt emergency
                                assistance.
                            </p>

                            <a href="/ambulance" class="card-btn"
                                aria-label="more">
                                <ion-icon name="arrow-forward"
                                    aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="service-card">

                            <div class="card-icon"
                                style="display: flex; justify-content: center; align-items: center; height: 90px; ">
                                <img
                                    src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1711867269/hospital/healthcare_drjh8x.png"
                                    style="width: 100px ; height: 100px ; ">
                            </div>

                            <h3 class="h3">
                                <a href="/medicine" class="card-title">Medicines
                                    Tracking</a>
                            </h3>

                            <p class="card-text">
                                Manage your medications with ease and precision
                                through our convenient medication tracking
                                system .
                            </p>

                            <a href="/medicine" class="card-btn"
                                aria-label="more">
                                <ion-icon name="arrow-forward"
                                    aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </li>

                </ul>

            </div>
        </section>

        <section class="section gallery" id="gallery"
            aria-label="photo gallery">
            <div class="container">

                <div class="title-wrapper">

                    <div>
                        <h2 class="h2 section-title">Latest Photo Gallery</h2>

                        <p class="section-text">
                            Sit amet consectetur adipiscing elit sed do eiusmod
                            tempor incididunt labore dolore magna aliqua
                            suspendisse
                        </p>
                    </div>

                    <a href="#" class="btn has-before">
                        <span class="span">Archieves</span>

                        <ion-icon name="arrow-forward"
                            aria-hidden="true"></ion-icon>
                    </a>

                </div>

                <ul class="grid-list">

                    <li>
                        <div class="gallery-card">

                            <figure class="card-banner img-holder"
                                style="--width: 422; --height: 550;">
                                <img
                                    src="https://th.bing.com/th/id/R.45b73cbdfedb0c6e4d50a8092355f9b3?rik=HOyUAzFZ7TFicA&riu=http%3a%2f%2fowh-inc.com%2fwp-content%2fuploads%2f2016%2f11%2f16F_room_view.jpg&ehk=VSKOnTnfY8dR5tNfCHyugwNfKgyMQeWS2AOHWqxGAfQ%3d&risl=1&pid=ImgRaw&r=0"
                                    width="422" height="550" loading="lazy"
                                    alt="Hair Cutting"
                                    class="img-cover">
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="gallery-card">

                            <figure class="card-banner img-holder"
                                style="--width: 422; --height: 550;">
                                <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1711879563/hospital/phtot1_vkj3xw.jpg" width="422" height="550"
                                    loading="lazy" alt="Hair Cutting"
                                    class="img-cover">
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="gallery-card">

                            <figure class="card-banner img-holder"
                                style="--width: 422; --height: 550;">
                                <img
                                    src="https://qtxasset.com/fiercehealthcare/1546879381/GettyImages-898906336.jpg/GettyImages-898906336.jpg?rE5bLYVKSyDekriOcwRz6Bcda6vj5XPL"
                                    width="422" height="550" loading="lazy"
                                    alt="Hair Cutting"
                                    class="img-cover">
                            </figure>

                        </div>
                    </li>

                    <li>
                        <div class="gallery-card">

                            <figure class="card-banner img-holder"
                                style="--width: 422; --height: 550;">
                                <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1711879394/hospital/phtot2_htstju.jpg" width="422" height="550"
                                    loading="lazy" alt="Hair Cutting"
                                    class="img-cover">
                            </figure>
                        </div>
                    </li>

                </ul>

            </div>
        </section>
        <!-- 
    - #FOOTER
  -->

        <footer class="footer has-bg-image"
            style="background-image: url('./assets/images/footer-bg.png')">
            <div class="container">

                <div class="footer-top">

                    <div class="footer-brand">

                        <a href="#" class="logo">
                            Astria Medica
                            <span class="span">Hospital</span>
                        </a>

                        <form action class="input-wrapper">

                            <input type="email" name="email_address"
                                placeholder="Enter Your Email" required
                                class="email-field">

                            <button type="submit" class="btn has-before">
                                <span class="span">Subscribe Now</span>

                                <ion-icon name="arrow-forward"
                                    aria-hidden="true"></ion-icon>
                            </button>

                        </form>

                    </div>

                    <div class="footer-link-box">
                        <div>
                            <ul class="footer-list">

                                <li>
                                    <p class="footer-list-title">Quick Links</p>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Our
                                        Services</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Meet Our
                                        Team</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Our
                                        Portfolio</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Need A
                                        Career?</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">News &
                                        Blog</a>
                                </li>

                            </ul>
                        </div>
                        <div>

                            <ul class="footer-list">

                                <li>
                                    <p class="footer-list-title">Services</p>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Hair
                                        Cutting</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Shaving &
                                        Design</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Hair
                                        Colors</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Beauty &
                                        Spa</a>
                                </li>

                                <li>
                                    <a href="#"
                                        class="footer-link has-before">Body
                                        Massages</a>
                                </li>

                            </ul>
                        </div>
                        <div>

                            <ul class="footer-list">

                                <li>
                                    <p class="footer-list-title">Contact Us</p>
                                </li>

                                <li class="footer-list-item">
                                    <ion-icon name="location-outline"
                                        aria-hidden="true"></ion-icon>

                                    <address class="contact-link">
                                        7528 Roberts Ave. Palm Bay, FL 32907
                                    </address>
                                </li>

                                <li class="footer-list-item">
                                    <ion-icon name="call-outline"
                                        aria-hidden="true"></ion-icon>

                                    <a href="tel:+0123456789"
                                        class="contact-link">+012 (345) 67
                                        89</a>
                                </li>

                                <li class="footer-list-item">
                                    <ion-icon name="time-outline"
                                        aria-hidden="true"></ion-icon>

                                    <span class="contact-link">Sun - Friday, 08
                                        am - 09 pm</span>
                                </li>

                                <li class="footer-list-item">
                                    <ion-icon name="mail-outline"
                                        aria-hidden="true"></ion-icon>

                                    <a href="mailto:support@gmail.com"
                                        class="contact-link">support@gmail.com</a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>

                <div class="footer-bottom">
                    <p class="copyright">
                        &copy; 2022 <a href="#"
                            class="copyright-link">codewithsadee</a>. All Rights
                        Reserved.
                    </p>
                </div>

            </div>
        </footer>

        <!-- 
    - #BACK TO TOP
  -->

        <a href="#top" class="back-top-btn" aria-label="back to top"
            data-back-top-btn>
            <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
        </a>

        <!-- 
    - custom js link
  -->
        <script src="./js/script.js" defer></script>

        <!-- 
    - ionicon link
  -->
        <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>