<% layout("/layout/boilerplate.ejs") %>
<!-- <style>
    body{
        background-color: black;
    }
</style> -->
<section class="home" id="home">
    <div class="home-text">
        <h1 class="text-light"><span>Enjoy</span> Our Delicious Meal</h1>
        <p>Indulge your senses with our exquisite culinary creations, meticulously crafted to satisfy every palate. Explore a symphony of flavors and embark on a gastronomic journey that transcends ordinary dining at [Your Food Website Name].</p>
        <a href="/menu" class="btn bg-warning">Book Order</a>
    </div>

    <div class="home-img">
        <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1704096780/Foody/shape-9_lac3gd.png" alt="home">
    </div>
</section>

<!-- contact section -->


<!-- about section -->
<section class="about" id="about">
    <div class="about-img">
        <img src="https://res.cloudinary.com/dymfsdc1w/image/upload/v1704096829/Foody/about-banner_lfuofc.jpg" alt="" >
    </div>

    <div class="about-text">
        <h2 class="text-warning">About Us</h2>
        <p>Welcome to [Your Food Website Name], where passion for exceptional food meets a dedication to creating memorable dining experiences. Our culinary artisans, driven by a commitment to quality and innovation, bring together a fusion of flavors that captivate discerning taste buds. Join us on a gastronomic adventure, where each dish tells a story of expertise, creativity, and a deep love for the art of food.</p>
        <a href="/menu"><button type="button" class="btn btn-warning">Explore</button></a>
    </div>

</section>
<script src="https://unpkg.com/scrollreveal"></script>
